body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #f2f6f8;
}

.header-top-wrapper {
  color: #ffffff;

  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-top a {
  display: block;
}

.logo {
  display: block;
  width: 220px;
  padding-top: 10px;
  padding-bottom: 5px;

  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
  cursor: pointer;

  transition: 0.15s;
}

.logo:hover,
.logo:focus {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #b52933;
}

.logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.logo-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.order-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 720px;

  font-size: 17px;
  line-height: 18px;
}

.search-form input[type="search"] {
  box-sizing: border-box;
  width: 270px;
  padding-top: 11px;
  padding-right: 10px;
  padding-bottom: 12px;
  padding-left: 48px;

  color: #ffffff;

  background-color: #293449;
  background-image: url("../img/icon-search-gray.svg");
  background-repeat: no-repeat;
  background-position: 17px 12px;
  border: none;

  transition: background 0.15s;
}

.search-form input[type="search"]:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search-white.svg");
}

.search-form input[type="search"]:active {
  background-image: url("../img/icon-search-gray.svg");
}

.search-form input[type="search"]:focus {
  color: #000000;

  background-color: #ffffff;
  background-image: url("../img/icon-search-red.svg");
}

.search-form input[type="search"]::placeholder {
  color: #ffffff;
}

.bookmarks,
.cart,
.order-complete {
  box-sizing: border-box;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 11px;

  color: #ffffff;

  background-color: #293449;
}

.bookmarks {
  position: relative;

  padding-left: 44px;

  transition: 0.15s;
}

.bookmarks::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 15px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  transition: 0.15s;
}

.cart {
  position: relative;

  padding-left: 49px;

  transition: 0.15s;
}

.cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  width: 16px;
  height: 16px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  transition: 0.15s;
}

.bookmarks:hover::before,
.cart:hover::before,
.bookmarks:focus::before,
.cart:focus::before {
  opacity: 1;
}

.bookmarks:active::before,
.cart:active::before {
  opacity: 0.5;
}

.bookmarks:hover,
.cart:hover,
.bookmarks:focus,
.cart:focus {
  background-color: #212a3a;
}

.bookmarks:active,
.cart:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #161d29;
}

.order-block .order-complete {
  text-align: center;

  background-color: #63a63e;

  transition: 0.15s;
}

.order-complete:hover,
.order-complete:focus {
  background-color: #5fbb2d;
}

.order-complete:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 46px;
  padding-bottom: 39px;
}

.header-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 590px;

  font-size: 14px;
  color: #32425c;

  background-color: #f4f7f9;
}

.header-contacts,
.user-block {
  margin: 0;
}


.store-description,
.header-contacts b {
  color: #ee3643;

  background-color: #f3f7f8;
}

.store-description {
  width: 200px;
  margin: 0;
  margin-top: 3px;
  margin-left: 52px;

  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.store-contacts {
  width: 270px;
}

.store-contacts b {
  position: relative;

  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 72px;

  font-size: 21px;
  line-height: 21px;

  border: solid 3px #ffffff;
}

.store-contacts b::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.store-contacts p {
  margin: 0;
  margin-top: 4px;

  text-align: center;
}

.user-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 299px;
}

.user-block a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login,
.registration {
  display: block;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.login {
  position: relative;

  padding-right: 26px;
  padding-left: 47px;

  transition: 0.15s;
}

.login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;

  transition: 0.15s;
}

.login:hover::before,
.login:focus::before {
  opacity: 1;
}

.login:active::before {
  opacity: 0.3;
}

.registration {
  padding-right: 24px;
  padding-left: 24px;

  transition: 0.15s;
}

.login:hover,
.registration:hover,
.login:focus,
.registration:focus {
  color: #ee3643;
}

.login:active,
.registration:active,
.profile-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-menu {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  margin-top: 1px;
  padding: 0;

  list-style: none;
}

.main-navigation {
  padding-bottom: 60px;

  font-size: 17px;
  line-height: 17px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #32425c;
}

.main-navigation a {
  display: block;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;

  color: #ffffff;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 rgb(41, 52, 73);

  transition: 0.15s;
}

.navigation-item:first-child {
  flex-grow: 1;
}

.navigation-item:last-child {
  flex-grow: 1;
}

.navigation-item:first-child a {
  text-align: right;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.promo {
  margin-top: 59px;
  margin-bottom: 33px;

  font-family: "Cuprum", "Arial", sans-serif;
}

.new-item::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;

  width: 60px;
  height: 59px;

  background-color: transparent;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: right;
}

.promo-item-block {
  display: flex;
  flex-wrap: wrap;
}

.promo-item-block > div:nth-child(1n) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.promo-item-block > div:nth-child(3n) {
  margin-right: 0;
}

.promo-item-block > div:last-child {
  margin-right: 0;
}

.promo-item {
  box-sizing: border-box;
  width: 300px;
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 23px;
}

.promo-item-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.promo-item h3 {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

  background-color: #transparent;
}

.button {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 9px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  border-radius: 2px;

  transition: background-color 0.15s;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.promo-button {
  width: 135px;
  margin-left: 2px;

  background-color: rgba(0, 0, 0, 0.1);

  transition: background-color 0.15s;
}

.promo-button:hover,
.promo-button:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-1 {
  position: relative;

  background-color: #ffbf47;
  background-image: url("../img/promo-icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-2 {
  background-color: #3bbce3;
  background-image: url("../img/promo-icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.promo-3 {
  background-color: #dc91d8;
  background-image: url("../img/promo-icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo-4 {
  background-color: #8ed78f;
  background-image: url("../img/promo-icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.promo-5 {
  background-color: #ffc047;
  background-image: url("../img/promo-icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.slider {
  position: relative;

  width: 620px;

  color: #ffffff;

  background-color: #594945;
}

.slider-item {
  position: relative;

  display: none;
  height: 266px;
  margin: 0;
  padding: 0;
}

.slider input {
  display: none;
}

#slider-control-1:checked ~ .slider-list .slider-item:nth-child(1),
#slider-control-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;

  animation-name: motion_positining;
  animation-duration: 1s;
}

@keyframes motion_positining {
  from {
    transform: scale(1.1);
    opacity: 0.9;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.slider-item:nth-child(1) {
  background-image: url("../img/promo-slider-1.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider-item:nth-child(2) {
  background-image: url("../img/promo-slider-2.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo-slide-content {
  padding-top: 23px;
  padding-right: 24px;
  padding-bottom: 22px;
  padding-left: 24px;
}

.promo-toggle-list {
  position: absolute;
  bottom: 44px;
  left: 50%;

  width: 140px;
  height: 10px;
  margin-left: -70px;

  vertical-align: middle;
  text-align: center;
}

.promo-toggle-item {
  position: relative;

  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 3px;

  vertical-align: middle;
  text-align: center;

  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.promo-toggle-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: 1;

  width: 6px;
  height: 6px;

  border-radius: 50%;
}

.slider-item .before-control {
  position: absolute;
  top: 114px;
  left: 25px;
  z-index: 2;

  width: 22px;
  height: 40px;

  background-image: url("../img/promo-slider-icon-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slider-item .next-control {
  position: absolute;
  top: 114px;
  right: 20px;
  z-index: 2;

  width: 22px;
  height: 40px;

  background-image: url("../img/promo-slider-icon-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.slider-item .before-control,
.slider-item .next-control {
  opacity: 0.8;

  transition: all 0.15s;
}

.slider-item .before-control:hover,
.slider-item .next-control:hover {
  transform: scale(1.2);
  opacity: 1;
}

#slider-control-1:checked ~ .promo-toggle-list .promo-toggle-item:nth-child(1)::before,
#slider-control-2:checked ~ .promo-toggle-list .promo-toggle-item:nth-child(2)::before {
  background-color: rgb(238, 54, 67);
}

.slider-item h3 {
  max-width: 220px;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.slider-item p {
  max-width: 230px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.slider-item .button,
.services-slider .button {
  width: 195px;
}

.slider-item .button {
  margin-top: 121px;
}

main h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-top: 25px;
  padding-right: 24px;
  padding-bottom: 26px;
  padding-left: 26px;

  background-color: #f9f5f0;
}

.title-wrapper h2 {
  margin: 0;
  margin-top: 5px;
  padding: 0;

  color: #32425c;

  background-color: #f9f5f0;
}

.title-wrapper .button {
  width: 253px;
}

.popular-goods {
  margin-bottom: 1px;
}

.popular-goods-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-goods-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-goods-list li:nth-child(4n) {
  margin-right: 0;
}

.catalog {
  width: 700px;
}

.catalog-item {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 218px;
  padding-bottom: 20px;

  vertical-align: middle;
  text-align: center;

  border: solid 1px #eaeaea;

  transition: box-shadow 0.5s;
}

.catalog-item .actions {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;

  box-sizing: border-box;
  width: 220px;
  height: 164px;
  padding-top: 42px;
  padding-right: 42px;
  padding-bottom: 37px;
  padding-left: 42px;

  background-color: #ffffff;
  border-top: solid 1px #eaeaea;
  border-right: solid 1px #eaeaea;
  border-left: solid 1px #eaeaea;
}

.catalog-item .actions {
  display: none;
}
.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item.new-item::after {
  top: -1px;
  right: -1px;
}

.catalog-item h3 {
  margin: 0;
  margin-top: 9px;
  padding: 0;
  padding-right: 25px;
  padding-left: 25px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.item-headline a {
  color: #000000;
}

.catalog-item img {
  order: -1;
  width: 218px;
  height: 170px;
}

.catalog-item .text-uppercase {
  text-transform: uppercase;
}

.catalog-item p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item .old-price {
  margin-top: 29px;

  color: #a9a9a9;
  text-decoration: line-through;

  background-color: #ffffff;
}

.catalog-item[class$="sale"] .old-price {
  margin-top: 11px;
}

.catalog-item .new-price {
  position: relative;

  margin-top: 10px;
  margin-right: auto;
  margin-left: 42px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 36px;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-item .new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;

  width: 0;
  height: 0;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.buy-button,
.to-bookmarks-button {
  box-sizing: border-box;
  width: 135px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 3px;

  font-size: 14px;
  line-height: 20px;
  text-align: center;

  border: solid 3px #63a63e;
  border-radius: 2px;
  border-radius: 3px;
}

.buy-button {
  position: relative;

  margin-bottom: 8px;

  color: #ffffff;

  background-color: #63a63e;
  border-bottom-color: #367315;

  transition: 0.15s;
}

.buy-button::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 11px;

  width: 15px;
  height: 15px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;

  transition: 0.15s;
}

.buy-button:hover::before,
.buy-button:focus::before {
  opacity: 1;
}

.buy-button:active::before {
  opacity: 1;
}

.to-bookmarks-button {
  color: #32425c;

  background-color: #ffffff;

  transition: 0.15s;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #5fbb2d;
  border: solid 3px #5fbb2d;
  border-bottom-color: #367315;
}

.buy-button:active {
  background-color: #518534;
  border: solid 3px #518534;
}

.to-bookmarks-button:hover,
.to-bookmarks-button:focus {
  background-color: inherit;
  border: solid 3px #32425c;
}

.to-bookmarks-button:active {
  color: rgba(50, 66, 92, 0.3);

  border: solid 3px rgba(50, 66, 92, 0.3);
}

.popular-producers {
  margin-bottom: 65px;
}

.popular-producers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-producers-list li {
  margin-right: 20px;
  margin-bottom: 20px;

  transition: box-shadow 0.5s;
}

.popular-producers-list li:nth-child(4n) {
  margin-right: 0;
}

.popular-producers-list li:hover,
.popular-producers-list li:focus {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-producers-list li:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-producers-list a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 143px;

  border: solid 1px #eaeaea;

  transition: 0.15s;
}

.popular-producers-list a:active {
  opacity: 0.3;
}

.services {
  padding-top: 65px;

  background-color: #f4f8fa;
}

.services-wrapper {
  margin-bottom: 79px;
  overflow: hidden;

  background-color: #f4f8fa;
}

.services-description {
  width: 400px;
  margin-bottom: 20px;
}

.services-description h2 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.services-slider {
  position: relative;
}

.slide-item {
  display: none;
  height: 287px;
  margin: 0;
  padding: 0;
  padding-top: 46px;
  padding-left: 320px;
}

.slide-item:nth-child(1) {
  background-image: url("../img/services-slider-1.png");
  background-repeat: no-repeat;
  background-position: 100% 72px;
}

.slide-item:nth-child(2) {
  background-image: url("../img/services-slider-2.png");
  background-repeat: no-repeat;
  background-position: 100% 50px;
}

.slide-item:nth-child(3) {
  background-image: url("../img/services-slider-3.png");
  background-repeat: no-repeat;
  background-position: 100% 47px;
}

.slide-item b {
  display: block;
  max-width: 390px;
  margin-bottom: 26px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f4f8fa;
}

.slide-item p {
  max-width: 390px;
  margin: 0;
  padding: 0;
}

.slide-item .button {
  margin-top: 26px;
}

.toggle-list {
  position: absolute;
  top: 49px;

  display: flex;
  flex-direction: column;
  width: 240px;
}

.toggle-list::after {
  content: "";
  position: absolute;
  top: -49px;
  left: 230px;

  width: 10px;
  height: 279px;

  background-image: url("../img/services-slider-shadow.png");
  background-repeat: no-repeat;
}

.toggle-item {
  margin-bottom: 1px;
  padding-top: 14px;
  padding-bottom: 16px;
  padding-left: 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 1px 0 0 rgb(41, 52, 73),
  inset 0 1px 0 0 rgb(64, 80, 105);
  cursor: pointer;
}

.toggle-item:hover {
  background-color: #293449;
  box-shadow: 0 1px 0 0 #293449,
  inset 0 1px 0 0 #405069;
}

#service-1:checked ~ .slide-list .slide-item:nth-child(1),
#service-2:checked ~ .slide-list .slide-item:nth-child(2),
#service-3:checked ~ .slide-list .slide-item:nth-child(3) {
  display: block;

  animation-name: motion_swipe;
  animation-duration: 0.5s;
}

#service-1:checked ~ .toggle-list .toggle-item:nth-child(1),
#service-2:checked ~ .toggle-list .toggle-item:nth-child(2),
#service-3:checked ~ .toggle-list .toggle-item:nth-child(3) {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;
  box-shadow: 0 1px 0 0 rgb(255, 255, 255);
}

@keyframes motion_swipe {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.about-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-company h2 {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
}

.about-company p {
  margin: 0;
  margin-bottom: 24px;
  padding: 0;
}

.about-company-left p:last-of-type {
  margin-bottom: 20px;
}

.about-company-left {
  width: 540px;
}

.about-company-left ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.about-company-left li {
  position: relative;

  margin-bottom: 20px;
  padding-left: 36px;
}

.about-company-left li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: rgb(238, 54, 67);
}

.about-company-left .button {
  width: 220px;
  margin-top: 17px;
}

.about-company-right {
  width: 300px;
}

.about-company-right p {
  padding-right: 120px;
}

.modal-map-button {
  display: block;
  margin: 0;
  margin-top: 31px;
  padding: 0;

  background-color: #f2f0eb;
  opacity: 1;

  transition: 0.15s;
}

.modal-map-button:hover,
.modal-map-button:focus {
  opacity: 0.75;
}

.modal-map-button img {
  display: block;
  width: 300px;
  height: 158px;
}

.write-us-link {
  width: 100%;
  margin-top: 40px;
}

.header-top .cart-not-empty {
  background-color: #ee3643;

  transition: 0.15s;
}

.header-top .cart-not-empty:hover,
.header-top .cart-not-empty:focus {
  background-color: #ca2c37;
}

.header-top .cart-not-empty:active {
  background-color: #ba2732;
}

.inner-page .header-middle {
  padding-bottom: 38px;
}

.inner-page .user-block {
  flex-direction: column;
}

.user-links {
  position: relative;
}

.profile-link {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 299px;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 12px;
  padding-left: 47px;

  transition: 0.15s;
}

.profile-link::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 14px;

  width: 20px;
  height: 18px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;

  transition: 0.15s;
}

.logout-link {
  position: absolute;
  top: 0;
  right: 0;

  width: 21px;
  height: 17px;
  padding: 14px 10px;

  background-image: url(../img/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;

  transition: 0.15s;
}

.profile-link:hover::before,
.logout-link:hover,
.profile-link:focus::before,
.logout-link:focus {
  opacity: 1;
}

.profile-link:active::before,
.logout-link:active {
  opacity: 0.3;
}

.user-block-menu li {
  position: relative;

  margin: 0;
  margin-right: 16px;
  margin-left: 17px;
}

.user-block-menu li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -17px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-block-menu li:first-child::before {
  display: none;
}

.user-block-menu a {
  position: relative;

  display: block;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 4px;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;

  background-color: #f2f6f8;

  transition: 0.15s;
}

.user-block-menu a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 5px;
  left: 0;

  height: 1px;

  background-color: #32425c;

  transition: 0.15s;
}

.user-block-menu a:hover::after,
.user-block-menu a:focus::after {
  background-color: #ee3643;
}

.user-block-menu a:active::after {
  background-color: rgba(50, 66, 92, 0.3);
}

.user-block-menu a:hover,
.user-block-menu a:focus {
  color: #ee3643;
}

.user-block-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 480px;
  min-width: 380px;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 20px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 41px;

  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  position: relative;

  color: #000000;

  background-color: #ffffff;
}

.breadcrumbs-item:nth-child(1) a {
  display: block;
  width: 16px;
  height: 18px;

  background-image: url("../img/breadcrumbs-icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 2px;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -22px;

  width: 8px;
  height: 12px;

  background-image: url("../img/breadcrumbs-icon-right.svg");
  background-repeat: no-repeat;
  background-position: bottom;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-item a:hover::before,
.breadcrumbs-item a:focus::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  height: 1px;

  background-color: #000000;

  transition: 0.15s;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 60px;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 30px;
  padding-right: 24px;
  padding-bottom: 29px;
  padding-left: 28px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.field-name {
  display: block;
  box-sizing: border-box;
  width: 220px;
  padding: 10px 18px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.filters > .field-name {
  margin-bottom: 11px;
}

.filter {
  width: 220px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
}

.filter .price {
  margin-bottom: 43px;
}

.price legend {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
}

.range-filter {
  width: 220px;
}

.range-controls {
  position: relative;

  height: 41px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 84%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .min-toggle {
  left: 20px;
}

.range-controls .max-toggle {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-controls input[type="text"] {
  width: 95px;
  padding-top: 9px;
  padding-bottom: 11px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  background-color: #f7f3ec;
  border: none;
}

.price-controls span {
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.filter ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter .producers {
  position: relative;

  margin-bottom: 20px;
}

.filter .power {
  position: relative;
}

.producers::before,
.power::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0;

  width: 220px;
  height: 1px;

  background-color: #e5e5e5;
}

.producers legend,
.power legend {
  margin-bottom: 13px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;

  user-select: none;
}

.filter input:focus ~ label {
  outline: none;
  box-shadow: 0 0 5px #4d90fe;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 19px;
  height: 19px;

  border: 2px solid #b5b5b5;
  border-radius: 3px;
}

.filter-input-checkbox + label:hover::before,
.filter-input-checkbox + label:focus::before {
  border-color: #c5c5c5;
}

.filter-input-checkbox:disabled + label::before {
  border-color: #b5b5b5;
  opacity: 0.3;
}

.filter-input-checkbox:disabled + label {
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 27px;
  height: 23px;

  background-image: url("../img/filters-checkbox-on-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.filter-input-checkbox:checked + label:hover::after,
.filter-input-checkbox:checked + label:focus::after {
  background-image: url("../img/filters-checkbox-on-icon-hover.svg");
}

.filter-input-checkbox:checked:disabled + label::after {
  background-image: url("../img/filters-checkbox-on-icon.svg");
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -36px;

  width: 17px;
  height: 17px;

  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio + label:hover::before,
.filter-input-radio + label:focus::before {
  border-color: #b5b5b5;
}

.filter-input-radio:disabled + label::before {
  border-color: #c5c5c5;
  opacity: 0.3;
}

.filter-input-radio:disabled + label {
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -28px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label:hover::after,
.filter-input-radio:checked + label:focus::after {
  background-color: #b5b5b5;
}

.filter-input-radio:checked:disabled + label::after {
  background-color: #c5c5c5;
  opacity: 0.3;
}

.filter .button {
  width: 140px;
  margin-top: 59px;
  padding-top: 10px;
  padding-bottom: 8px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  cursor: pointer;

  transition: 0.15s;
}

.filter .button:hover,
.filter .button:focus {
  border: solid 1px #bdc6ca;
}

.filter .button:active {
  border-color: #ee3643;
}

.catalog-sorting-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  background-color: #f7f3ec;
}

.sort-by-category {
  display: flex;
  justify-content: flex-start;
  width: 380px;

  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.sort-by-category,
.sort-by-increase-decrease,
.catalog-list,
.catalog-pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-by-category .sorting-item {
  margin-right: auto;
  margin-left: 0;
}

.sort-by-category .sorting-item:nth-child(1) {
  margin-right: 71px;
}

.sort-by-category .sorting-item:last-child {
  margin-right: 25px;;
}

.sort-by-category a {
  position: relative;

  display: block;
  padding: 10px 0;

  color: rgba(0, 0, 0, 0.3);

  background-color: #f7f3ec;

  transition: 0.15s;
}

.sort-by-category a:hover,
.sort-by-category a:focus {
  color: #000000;

  background-color: #f7f3ec;
}

.sort-by-category a::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 11px;
  left: 0;

  height: 0;

  border-bottom: 1px dotted #ee3643;

  transition: 0.15s;
}

.sort-by-category a:hover::before,
.sort-by-category a:focus::before {
  border-bottom-style: solid;
}

.sort-by-category .active a {
  color: #ee3643;
  text-decoration: none;

  background-color: #f7f3ec;
}

.sort-by-category .active a::before {
  display: none;
}

.sort-by-category .active a:hover::before,
.sort-by-category .active a:focus::before {
  display: none;
}

.sort-by-increase-decrease {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  padding-right: 17px;
  padding-left: 0;
}

.sort-by-increase-decrease a {
  display: block;
  width: 11px;
  height: 10px;
}

.increase-link {
  background-image: url("../img/icon-up-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
}

.active .increase-link {
  background-image: url("../img/icon-up-triangle-active.svg");
  opacity: 0.7;
}

.decrease-link {
  background-image: url("../img/icon-down-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.7;
}

.active .decrease-link {
  background-image: url("../img/icon-down-triangle-active.svg");
  opacity: 0.8;
}

.increase-link:hover,
.decrease-link:hover,
.increase-link:focus,
.decrease-link:focus {
  opacity: 1;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.catalog-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-list li:nth-child(3n) {
  margin-right: 0;
}

.catalog-pagination-list {
  display: flex;
  justify-content: flex-start;
  min-width: 300px;
}

.catalog-pagination-list li {
  margin-right: 10px;
}

.catalog-pagination-list li:last-child {
  margin-right: 0;
}

.catalog-pagination-list .disable {
  display: none;
}

.catalog-pagination-list .button {
  display: block;
  width: 36px;
  padding-top: 9px;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: center;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  cursor: pointer;
}

.catalog-pagination-list .previous,
.catalog-pagination-list .next {
  width: 138px;
}

.catalog-pagination-list a {
  transition: 0.15s;
}

.catalog-pagination-list a:hover,
.catalog-pagination-list a:focus {
  border: solid 1px #bdc6ca;
}

.catalog-pagination-list a:active {
  border-color: #ee3643;
}

.catalog-pagination-list .current-page {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.catalog-pagination-list .current-page:hover,
.catalog-pagination-list .current-page:focus {
  border-color: #ee3643;
}

.reference-information-wrapper {
  background-color: #f2f6f8;
}

.reference-information {
  padding-top: 65px;
  padding-bottom: 68px;

  background-color: #f2f6f8;
}

.reference-information span {
  display: block;
  margin-bottom: 26px;

  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.reference-information p {
  margin: 0;
  padding: 0;
}

.main-footer {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #f3f7f9;

  background-color: #32425c;
}

.contacts-and-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.footer-contacts {
  width: 335px;
}

.main-footer .logo {
  padding-top: 18px;
  padding-bottom: 14px;
}

.main-footer .logo-text {
  font-size: 30px;
  line-height: 30px;
}

.footer-contacts address {
  margin-top: 33px;
  padding-left: 3px;

  font-style: normal;
}

.footer-navigation {
  width: 560px;
}

.footer-site-navigation ul,
.footer-products-navigation ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-site-navigation li,
.footer-products-navigation li {
  margin-left: 59px;
}

.footer-site-navigation li {
  margin-top: 38px;
}

.footer-products-navigation li {
  margin-top: 34px;
}

.footer-site-navigation li:nth-child(1),
.footer-products-navigation li:nth-child(1) {
  margin-left: 0;
}

.footer-site-navigation a,
.footer-products-navigation a {
  position: relative;

  transition: 0.15s;
}

.footer-site-navigation a::before,
.footer-products-navigation a::before {
  transition: 0.15s;
}

.footer-site-navigation a:hover::before,
.footer-products-navigation a:hover::before,
.footer-site-navigation a:focus::before,
.footer-products-navigation a:focus::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 2px;
  left: 0;

  height: 1px;
}

.footer-site-navigation a:hover::before,
.footer-site-navigation a:focus::before {
  background-color: #f3f7f9;
}

.footer-products-navigation a:hover::before,
.footer-products-navigation a:focus::before {
  background-color: #ffd180;
}

.footer-site-navigation a:active::before,
.footer-products-navigation a:active::before {
  display: none;
}

.footer-site-navigation a {
  color: #f3f7f9;

  background-color: #32425c;
}

.footer-products-navigation a {
  color: #ffd180;

  background-color: #32425c;
}

.footer-site-navigation a:active,
.footer-products-navigation a:active {
  opacity: 0.5;
}

.socials-and-feedback-wrapper {
  background-color: #293449;
}

.socials-and-feedback {
  display: flex;

  font-size: 16px;
  line-height: 18px;
}

.footer-copyright p {
  margin: 0;
  margin-top: 37px;
  margin-bottom: 34px;
  padding: 0;
}

.footer-feedback a,
.footer-developer a {
  position: relative;

  color: #ffd180;

  background-color: #293449;

  transition: 0.15s;
}

.footer-feedback a::before,
.footer-developer a::before {
  transition: 0.15s;
}

.footer-feedback a:hover::before,
.footer-feedback a:focus::before,
.footer-developer a:hover::before,
.footer-developer a:focus::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 1px;
  left: 0;

  height: 1px;

  background-color: #ffd180;
}

.footer-feedback a:active::before,
.footer-developer a:active::before {
  display: none;
}

.footer-feedback a:active,
.footer-developer a:active {
  color: #ee3643;

  background-color: #293449;
}

.footer-copyright {
  width: 230px;
  margin-right: 160px;
}

.footer-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 133px;
  margin-top: 35px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;

  color: inherit;
  font-style: inherit;

  background-color: rgb(33, 42, 58);
  border-radius: 50%;

  transition: 0.15s;
}

.social-button:hover,
.social-button:focus {
  background-color: rgb(238, 54, 67);
}

.social-button:active {
  background-color: rgb(238, 54, 67);
}

.social-button-vk {
  background-image: url("../img/footer-vk-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-fb {
  background-image: url("../img/footer-fb-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.social-button-inst {
  background-image: url("../img/footer-inst-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-feedback {
  width: 140px;
  margin-right: 49px;
  margin-left: auto;
}

.footer-developer {
  width: 100px;
  margin-right: 10px;
}

.footer-feedback p,
.footer-developer p {
  margin: 0;
  margin-top: 37px;
  padding: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  z-index: 100;

  display: none;

  background-color: #ffffff;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-write-us {
  top: 120px;
  left: 50%;

  width: 620px;
  margin-left: -310px;

  border-top: 7px solid #ff5358;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);

  transition: box-shadow 0.5s;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 10;

  width: 21px;
  height: 21px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  background-image: url("../img/pop-up-close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  cursor: pointer;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.fields-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
  padding-top: 46px;
}

.write-us-form .form-fields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.write-us-form .form-fields:last-child {
  margin-bottom: 37px;
}

.write-us-form input,
.write-us-form textarea {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  background-color: #ffffff;
  border: solid 2px #dee3e4;
  border-radius: 2px;

  transition: 0.15s;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  border: solid 2px #b5b5b5;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  border: solid 2px #ee3643;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.write-us-form textarea {
  box-sizing: border-box;
  width: 220px;
  padding: 0 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.write-us-form textarea {
  width: 460px;
  min-height: 114px;

  resize: vertical;
}

.write-us-form label {
  margin-bottom: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-button-wrapper-1 {
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.modal-button-wrapper-1 .button {
  width: 100%;

  cursor: pointer;
}

.modal-large-map {
  top: 50%;
  left: 50%;

  width: 940px;
  height: 446px;
  margin-top: -223px;
  margin-left: -470px;

  background-color: #eeeae3;
}

.modal-large-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-large-map div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.modal-large-map img {
  width: 940px;
  height: 446px;

  background-color: #ffffff;
  box-shadow: 0 0 18px 1.28px rgba(47, 42, 43, 0.5);

  transition: box-shadow 0.5s;
}

.modal-product-in-cart {
  top: 411px;
  top: 50%;
  left: 50%;

  width: 620px;
  margin-top: -141px;
  margin-left: -310px;

  background-color: #ffffff;
  border-top: 7px solid #ff5358;
  box-shadow: 0 20px 40px 0 rgba(41, 52, 73, 0.75);

  transition: box-shadow 0.5s;
}

.modal-product-in-cart p {
  position: relative;

  margin: 0;
  margin-top: 65px;
  margin-right: 80px;
  margin-bottom: 68px;
  margin-left: 80px;
  padding: 0;
  padding-left: 99px;

  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-product-in-cart p::before {
  content: "";
  position: absolute;
  top: -17px;
  left: 0;

  width: 66px;
  height: 66px;

  background-image: url("../img/pop-up-product-added-to-cart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.modal-button-wrapper-2 {
  display: flex;
  justify-content: space-between;
  padding: 37px 80px;

  background-color: #f1f1f1;
}

.modal-button-wrapper-2 .button {
  width: 220px;
}

.continue-shopping-button {
  color: #000000;

  transition: 0.15s;
  background-color: #ffffff;
}

.continue-shopping-button:hover,
.continue-shopping-button:focus {
  color: #ffffff;

  background-color: #ee3643;
}

.continue-shopping-button:active {
  color: #ffffff;

  background-color: #ba2732;
}
