@font-face {
  font-family: "technomart-icons";
  src:
    local("technomart-icons"),
    url("../fonts/technomart-icons.woff") format("woff");
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.main-header {
  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #f2f6f8;
}

.header-top-wrapper {
  color: #ffffff;

  background-color: #293449;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-top a {
  display: block;

  color: #ffffff;

  background-color: #293449;
}

/* не работает тень */
.index-logo {
}

.header-top .logo {
  box-shadow: 0 5px 0 0 #b52933;
  width: 220px;
  background-color: #ee3643;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

.header-top .logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #b52933;

}

.header-top .logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.logo b {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}

.order-block {
  display: flex;
  justify-content: flex-end;
  font-size: 17px;
  line-height: 18px;
}

.search-form {
  position: relative;
}

.search-form::before{
  content:'\0041';
  font-family: "technomart-icons";
  position: absolute;
  top: 11px;
  left: 17px;
  opacity: 0.3;
}

.search-form:hover::before{
  opacity: 1;
}

.search-form:active::before{
  opacity: 1;
  color: red;
}

.search-form input[type="search"] {
  background-color: #293449;
  border: none;
  width: 270px;
  box-sizing: border-box;
  padding-left: 48px;
  padding-top: 11px;
  padding-bottom: 12px;
  /* background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 17px; */
}

.search-form input::placeholder {
  color: #ffffff;
}

.search-form input[type="search"]:hover{
  background-color: #212a3a;
}

.search-form input[type="search"]:active {
  background-image: url("../img/search-background.jpg");
  background-position: left;
  background-repeat: no-repeat;
  color: #000000;
  background-color: #ffffff;
}

.search-form input[type="search"]:active::placeholder {
  color: #000000;
  background-color: #ffffff;
}

.bookmarks,
.basket,
.order-complete {
  width: 150px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 11px;
}

.bookmarks {
  position: relative;
  padding-left: 44px;
}

.bookmarks::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 16px;
  top: 12px;
  left: 17px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.basket {
  padding-left: 49px;
  position: relative;
}

.basket::before {
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks:hover::before,
.basket:hover::before {
  opacity: 1;
}

.bookmarks:active::before,
.basket:active::before {
  opacity: 0.5;
}

.bookmarks:hover,
.basket:hover {
  background-color: #212a3a;
}

.bookmarks:active,
.basket:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #161d29;
}

.order-block .order-complete {
  background-color: #63a63e;
  text-align: center;
}

.order-complete:hover {
  background-color: #5fbb2d;
}

.order-complete:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.header-middle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 46px;
  padding-bottom: 39px;
}

.header-contacts {
  display: flex;
  width: 590px;
  justify-content: space-between;

  font-size: 14px;
  color: #32425c;
  background-color: #f4f7f9;
}

.header-contacts,
.user-block {
  margin: 0;
}


.store-description,
.header-contacts b {
  color: #ee3643;

  background-color: #f3f7f8;
}

.store-description {
  font-size: 16px;
  line-height: 23px;
  width: 200px;
  font-style: italic;
  margin: 0;
  margin-left: 52px;
  margin-top: 3px;
}

.store-contacts {
  width: 270px;
}

.store-contacts b {
  font-size: 21px;
  line-height: 21px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 72px;
  border: solid 3px #ffffff;
  position: relative;
  display: block;
}

.store-contacts b::before {
  content: "";
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 12px;
  top: 10px;
}

.store-contacts p {
  text-align: center;
  margin: 0;
  margin-top: 4px;
}

.user-block {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.user-block a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.login,
.registration {
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 10px;
}

.login {
  padding-right: 26px;
  padding-left: 47px;
  position: relative;
}

.login::before {
  content: "";
  width: 20px;
  height: 17px;
  opacity: 0.3;
  top: 14px;
  left: 14px;
  position: absolute;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login:hover::before {
  opacity: 1;
}

.login:active::before {
  opacity: 0.3;
}

.registration {
  padding-left: 24px;
  padding-right: 24px;
}

.login:hover,
.registration:hover,
.user-block-menu a:hover {
  color: #ee3643;
}

.login:active,
.registration:active,
.user-block-profile:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-block-menu {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-block-menu a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;

  background-color: #f2f6f8;
}

.user-block-menu a:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-navigation {
  padding-bottom: 60px;

  font-size: 17px;
  line-height: 17px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 940px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: #32425c;
}

.main-navigation a {
  display: block;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;

  box-shadow: inset 0px -5px 0 0 rgb(41, 52, 73);
  color: #ffffff;

  background-color: #32425c;
}

.navigation-item:first-child a {
  padding-left: 52px;
  padding-right: 34px;
}
.navigation-item:last-child a {
  padding-right: 55px;
  padding-left: 31px;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.promo {
  margin-top: 59px;
  margin-bottom: 33px;

  font-family: "Cuprum", "Arial", sans-serif;
}

.new-item::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 59px;
  top: 0;
  right: 0;
  background-image: url("../img/new-flag.png");
  background-position: right;
  background-repeat: no-repeat;
  background-color: transparent;
}

.promo-item-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.promo-item {
  width: 300px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding-top: 21px;
  padding-left: 23px;
  padding-bottom: 22px;
  box-sizing: border-box;
}

.promo-item:nth-child(3n) {
  margin-right: 0;
}

.promo-item h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  background-color: #transparent;
}

.button {
  font-weight: normal;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none;
  padding-top: 11px;
  padding-bottom: 9px;
  border-radius: 2px;
}

.promo-button {
  background-color: rgba(0, 0, 0, 0.1);
  width: 135px;
  margin-left: 2px;
}

.promo-button:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-1 {
  background-color: #ffbf47;
  position: relative;
  background-image: url("../img/promo-icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.promo-2 {
  background-color: #3bbce3;
  background-image: url("../img/promo-icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.promo-3 {
  background-color: #dc91d8;
  background-image: url("../img/promo-icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.promo-4 {
  background-color: #8ed78f;
  background-image: url("../img/promo-icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.promo-5 {
  background-color: #ffc047;
  background-image: url("../img/promo-icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}

.slider {
  color: #ffffff;
  background-color: #594945;
  width: 620px;
  height: 266px;
  /* position: relative; */
}

.slider .button,
.services-slider .button {
  width: 195px;
}

.slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.slider-item {
  display: none;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 36px;
  margin-top: 21px;
  max-width: 220px;
  padding-left: 24px;
  padding-right: 24px;
}

.slider-item p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  margin-top: 3px;
  max-width: 230px;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 124px;
}

.slider-button:hover {
  background-color: #ca2c37;
}

.slider-button:active {
  background-color: #ba2732;
}

main h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 26px;
  padding-right: 24px;
  padding-top: 25px;
  padding-bottom: 26px;

  background-color: #f9f5f0;
}

.title-wrapper h2 {
  color: #32425c;

  background-color: #f9f5f0;
  margin: 0;
  padding: 0;
  margin-top: 5px;
}

.title-wrapper .button {
  width: 253px;
}

.popular-goods {
  margin-bottom: 21px;
}

.popular-goods-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-goods-list li {
  margin-right: 20px;
}

.popular-goods-list li:nth-child(4n) {
  margin-right: 0;
}

.catalog {
  width: 700px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 218px;

  vertical-align: middle;
  text-align: center;

  padding-bottom: 20px;
  border: solid 1px #eaeaea;
  position: relative;
}

.catalog-item .actions {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 220px;
  height: 164px;
  padding-top: 42px;
  padding-right: 42px;
  padding-bottom: 37px;
  padding-left: 42px;
  background-color: #ffffff;
  z-index: 2;
  box-sizing: border-box;
  border-top: solid 1px #eaeaea;
  border-right: solid 1px #eaeaea;
  border-left: solid 1px #eaeaea;
}

.catalog-item .actions{
  display:none;
}
.catalog-item:hover .actions{
  display:block;
}

.catalog-item:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item.new-item::after {
  top: -1px;
  right: -1px;
}

.catalog-item h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding: 0;
  padding-right: 30px;
  padding-left: 30px;
  margin-top: 9px;
}

.catalog-item img {
  order: -1;
  width: 218px;
  height: 170px;
}

.catalog-item .text-uppercase {
  text-transform: uppercase;
}

.catalog-item p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item .old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  background-color: #ffffff;
  margin-top: 29px;
}

.catalog-item[class$="sale"] .old-price {
  margin-top: 11px;
}

.catalog-item .new-price {
  color: #ffffff;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 40px;

  background-color: #ee3643;
  margin-left: 42px;
  margin-right: auto;
  position: relative;
  border-radius: 3px;
}

.catalog-item .new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 19px solid white;
  border-left-color: #ee3643;
}

.buy-button,
.to-bookmarks-button {
  font-size: 14px;
  line-height: 20px;

  border: solid 3px #63a63e;
  border-radius: 2px;
  width: 135px;
  padding-top: 7px;
  padding-bottom: 5px;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  padding-left: 3px;
}

.buy-button {
  color: #ffffff;

  background-color: #63a63e;
  margin-bottom: 8px;
  position: relative;
}

.buy-button::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 15px;
  opacity: 0.3;
  left: 11px;
  top: 8px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.to-bookmarks-button {
  color: #32425c;
  border-bottom-color:#367315;
  background-color: #ffffff;
}

.buy-button:hover {
  background-color: #5fbb2d;
  border: solid 3px #5fbb2d;
}

.buy-button:active {
  background-color: #518534;
  border: solid 3px #518534;
}

.to-bookmarks-button:hover {
  border: solid 3px #32425c;
}

.to-bookmarks-button:active {
  color: rgba(50, 66, 92, 0.3);

  border: solid 3px rgba(50, 66, 92, 0.3);
}

.popular-producers {
  margin-bottom: 65px;
}

.popular-producers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular-producers-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.popular-producers-list li:nth-child(4n) {
  margin-right: 0;
}

.popular-producers-list li:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-producers-list li:active {
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.popular-producers-list a {
  display: flex;
  width: 218px;
  min-height: 143px;
  border: solid 1px #eaeaea;
  justify-content: center;
  align-items: center;
}

.popular-producers-list a:active {
  opacity: 0.3;
}

.services {
  background-color: #f4f8fa;
  padding-top: 65px;
}

.services-wrapper {
  background-color: #f4f8fa;
}

.services-description {
  width: 400px;
}

.services-description h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}


/* слайдер */
.services-slider b {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f4f8fa;
}

.services-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-list a {
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;

  background-color: #32425c;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

.services-list a:hover {
  background-color: #293449;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}


.services-list .active {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: 0 1px 0 0 #ffffff, inset 0 1px 0 0 #ffffff;
}

.services-list .active:hover {
  color: #ffffff;

  background-color: #293449;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
}

/* конец слайдера */

.about-company {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.about-company-left {
  width: 540px;
}

.about-company-left ul {
  list-style: none;
  font-size: 18px;
  line-height: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.about-company-left .button {
  width: 220px;
}

.about-company-right {
  width: 300px;
}

.about-company-right .button {
  width: 100%;
}

.about-company .modal-map {
  background-color: transparent;
}

/* Стили inner-page */

.inner-page .header-middle {
  padding-bottom: 38px;
}

.inner-page .user-block {
  flex-direction: column;
}

.user-block-profile {
  width: 299px;
  padding-left: 47px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
}

.user-block-profile::before {
  content: "";
  width: 20px;
  height: 18px;
  top: 13px;
  left: 14px;
  position: absolute;
  background-image: url("../img/icon-user.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-block-profile:hover::before {
  opacity: 1;
}

.user-block-profile:active::before {
  opacity: 0.3;
}

.user-block-profile::after {
  content: "";
  width: 20px;
  height: 17px;
  top: 14px;
  right: 9px;
  position: absolute;
  background-image: url("../img/icon-logout.svg");
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.user-block-profile:hover::after {
  opacity: 1;
}

.user-block-profile:active::after {
  opacity: 0.3;
}

.user-block-menu {
  margin-top: 5px;
}

.user-block-menu a {
  padding-right: 14px;
  padding-left: 18px;
  position: relative;
}

.user-block-menu a::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
  top: 8px;
  left: 2px;
}

.user-block-menu:first-child a::before {
  display: none;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  min-width: 380px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.breadcrumbs li {
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;

  background-color: #ffffff;
}

.page-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #32425c;
  text-transform: uppercase;

  background-color: #f2f6f8;
}

.catalog-columns {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin-bottom: 60px;
}

.filters {
  width: 220px;

  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-weight: 700;
  line-height: 30px;
  font-family: 17px;
}

.field-name,
.catalog-sorting-form ul {
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.price-controls input[type="text"] {
  font-size: 17px;
  line-height: 18px;

  background-color: #f7f3ec;
  border: none;
}

.filters .producers {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.inner-page .basket {
  background-color: #ee3643;
}

.filters .button {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-sorting-form {
  margin-bottom: 20px;
}

.catalog-sorting-form,
.catalog-sorting-form ul {
  display: flex;
}

.catalog-sorting-form ul,
.catalog-list,
.catalog-pagination-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-sorting-form a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;

  background-color: #f7f3ec;

  text-decoration-color: #ee3643;
  text-decoration-style: dotted;
}

.catalog-sorting-form a:hover {
  color: #000000;
  text-decoration: underline;

  background-color: #f7f3ec;

  text-decoration-color: #ee3643;
  text-decoration-style: solid;
}

.catalog-sorting-form .active {
  color: #ee3643;
  text-decoration: none;

  background-color: #f7f3ec;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 52px;
}

.catalog-list li {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-list li:nth-child(3n) {
  margin-right: 0;
}

.catalog-pagination-list {
  display: flex;
  justify-content: flex-start;
  min-width: 300px;
}

.catalog-pagination-list .button {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.catalog-pagination-list a:hover {
  border: solid 1px #bdc6ca;
}

.catalog-pagination-list a:active {
  border-color: #ee3643;
}

.catalog-pagination-list .current-page {
  background-color: #ee3643;
  border-color: #ee3643;
}

.catalog-pagination-list .current-page:hover {
  border-color: #ee3643;
}

.reference-information-wrapper {
  background-color: #f2f6f8;
}

.reference-information {
  background-color: #f2f6f8;
}

.reference-information span {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
}

/* Футер главной */

.main-footer {
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #f3f7f9;

  background-color: #32425c;
}

.contacts-and-nav {
  display: flex;
  justify-content: space-between;
}

.footer-contacts {
  width: 347px;
}

.footer-contacts b {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

  background-color: #ee3643;
}

.footer-contacts address {
  font-style: normal;
}

.footer-navigation {
  width: 550px;
}

.footer-site-navigation ul,
.footer-products-navigation ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-site-navigation a {
  color: #f3f7f9;

  background-color: #32425c;
}

.footer-products-navigation a {
  color: #ffd180;

  background-color: #32425c;
}

.footer-site-navigation a:hover,
.footer-products-navigation a:hover {
  text-decoration: underline;

  text-decoration-color: inherit;
}

.footer-site-navigation a:active,
.footer-products-navigation a:active {
  opacity: 0.5;
}

.socials-and-feedback-wrapper {
  background-color: #293449;
}

.socials-and-feedback {
  font-size: 16px;
  line-height: 18px;
  display: flex;
}

.socials-and-feedback span {
  color: #ffd180;

  background-color: #293449;
}

.socials-and-feedback span:hover {
  text-decoration: underline;

  text-decoration-color: inherit;
}

.socials-and-feedback span:active {
  color: #ee3643;

  background-color: #293449;
}


.footer-copyright {
  width: 230px;
  margin-right: 160px;
}

.footer-socials {
  width: 133px;
  margin-left: auto;
}

.footer-feedback {
  width: 140px;
  margin-right: 45px;
  margin-left: auto;
}

.footer-developer {
  width: 100px;
  margin-right: 15px;
  margin-left: 15px;
}


/* попапы */
.modal-write-us {
  background-color: #ffffff;
}

.write-us-form input,
.write-us-form textarea {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #a9a9a9;

  background-color: #ffffff;
  border: solid 2px #dee3e4;
  border-radius: 1px;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  border: solid 2px #b5b5b5;
}

.write-us-form input:active,
.write-us-form textarea:active {
  border: solid 2px #ee3643;
}

.write-us-form label {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-button-wrapper {
  background-color: #f4f4f4;
}

.modal-large-map img {
  width: 940px;
  height: 446px;

  background-color: #ffffff;
  box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-product-in-basket p {
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.continue-shopping-button {
  color: #000000;

  background-color: #ffffff;
}
